.navbar-logo {
    width: 14rem !important;
}

.navbar-items a {
    font-size: 1.15rem;
    padding: 12px 9px;
}

.navbar-hoverable-menu {
    max-width: 16%;
    min-width: 9%;
}

.header marquee {
    padding: 11px 0px !important;
}

.header marquee h2 {
    font-size: 2.5rem !important;
}

.text-sec-top {
    font-size: 3.3rem !important;
}

.text-sec h2:nth-child(4) {
    font-size: 7.5rem !important;
}

.text-sec h2:nth-child(6) {
    font-size: 2.5rem !important;
}

.text-sec h2:nth-child(7) {
    font-size: 3.4375rem !important;
}

.text-sec h2:nth-child(8) {
    font-size: 2rem !important;
}

.mianG img {
    width: 42% !important;
}

.baehtemaam {
    font-size: 3.5rem !important;
}

.adil-sb h2:nth-child(8) {
    font-size: 2.9rem !important;
}

.adil-sb h2:nth-child(9) {
    font-size: 3.5rem !important;
}

.adil-sb h2:nth-child(10) {
    font-size: 2rem !important;
}

img[alt="Adil Sabri Sb"] {
    margin-bottom: 70px !important;
}

.btnsec {
    padding: 40px 0px !important;
}

.btnsec-btn {
    font-size: 1.5rem !important;
    padding: 21px 27px !important;
}

.btn-4k {
    margin: 32px 0px !important;
}

.footer {
    font-size: 1rem !important;
}

.copyerror div {
    font-size: 1rem;
}

.copyerror div img {
    margin-right: 9px;
    width: 1.1rem;
}

/* ****************Contact**************** */
.maptxt h2 {
    font-size: 4.4rem;
}

.map iframe {
    width: 94%;
    height: 1000px;
}

.formsec form {
    width: 87%;
    padding: 40px;
}

.formsec form input,
.formsec form textarea {
    padding: 16px 11px;
    font-size: 1.2rem;
}

.formsec form input:focus,
.formsec form textarea:focus {
    border: 2px solid #db9423;
}

.formsec form label {
    margin-bottom: 14px;
    font-size: 0.85rem;
}

.formsec form button {
    padding: 14px 24px;
    font-size: 1.15rem;
}

.info-center h2:first-child {
    font-size: 3.7rem;
}

.info-heading {
    font-size: 4rem;
}

.info-right h2,
.info-left h2 {
    font-size: 3.15rem;
}

.location svg {
    height: 54px;
}

.location-flex-container img {
    width: 27rem;
}

.location-container-heading {
    font-size: 4.2rem;
}

.location-container-content {
    font-size: 2.9rem;
    line-height: 1.45;
}

/* ****************Gallery**************** */
.containers {
    width: 31%;
}

.containers>div {
    height: 45vh;
}

.containers h2 {
    padding: 16px 0px 3px 0px;
    font-size: 2.4rem;
}

.containers p {
    font-size: 1.4rem;
    font-weight: lighter;
}

/* ****************Anouncement Board**************** */
.anouncement-board div h2 {
    font-size: 2.6rem;
}

.anouncement-board div p {
    font-size: 1.4rem;
}

.date {
    font-size: 1.15rem;
}

/* ****************Video Gallery**************** */
.containers div video {
    border-radius: 5px;
}