.menubtn img {
    width: 1.45em !important;
}

.navbar-items a {
    font-size: 0.6rem !important;
}

.header marquee h2 {
    font-size: 1.45rem !important;
}

.text-sec-top {
    font-size: 1.21rem !important;
}

.text-sec h2:nth-child(4) {
    font-size: 2.45rem !important;
}

.text-sec h2:nth-child(6) {
    font-size: 1rem !important;
}

.text-sec h2:nth-child(7) {
    font-size: 1.25rem !important;
}

.text-sec h2:nth-child(8) {
    font-size: 0.75rem !important;
    line-height: 1.4;
}

.adilsb-img-outer-container {
    flex-direction: column !important;
    align-items: center !important;
}

.adil-sb {
    padding: 21px 0px 11px 0px !important;
    max-width: 100% !important;
}

img[alt="Adil Sabri Sb"] {
    width: 50% !important;
    margin-top: 0 !important;
    margin-bottom: 11px !important;
}

.btnsec-btn {
    font-size: 0.67rem;
    padding: 11px 21px;
}

.footer {
    font-size: 0.5rem;
    padding: 21px;
}

.copyerror div {
    font-size: 0.55rem;
}

.copyerror div img {
    margin-right: 6px;
    width: 0.75rem;
}

/* ****************Contact**************** */
.maptxt h2 {
    font-size: 1.76rem !important;
}

.map iframe {
    width: 97.5% !important;
    margin-top: 14px !important;
}

.formsec form {
    padding: 24px;
}

.formsec form {
    width: 100% !important;
}

.formsec form input,
.formsec form textarea {
    font-size: 0.8rem !important;
    margin: 1px 0px !important;
}

.formsec form label {
    margin-bottom: 4px !important;
}

.formsec form button {
    padding: 9px 11px !important;
    font-size: 0.7rem !important;
}

.info-center h2:first-child {
    font-size: 1.75rem !important;
}

.info-heading {
    font-size: 2rem !important;
    line-height: 1.3;
}

hr {
    width: 97% !important;
}

.info-left,
.info-right {
    padding: 0px;
}

.info-left h2,
.info-right h2 {
    font-size: 1.5rem !important;
}

/* ****************PDF**************** */
.intro-container iframe {
    width: 100%;
}

/* ****************Gallery**************** */
.containers {
    padding: 9px;
}

.containers>div {
    height: 7rem;
}

.containers h2 {
    padding: 9px 0px 2px 0px;
    font-size: 1.1rem;
}

.containers p {
    padding: 6px 0px 0px 0px;
    font-size: 0.75rem;
}

.close-btn img {
    width: 2.9vw;
}