h1 {
    font-size: 1.9rem;
}

.corner h2,
h2 {
    font-size: 1.5rem;
}

h3,
h4,
.cContent,
.cContent p {
    font-size: 0.9rem;
}

h5 {
    font-size: 0.7rem;
}

.material-symbols-rounded{
    font-size: 0.9rem;
}

#filter{
    padding: 0px 7px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    font-size: 0.6rem;
}

.search button{
    padding: 0px 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.nav {
    display: none;
}

.ham-btn {
    display: block;
}

.corner {
    display: none;
}

.l1 {
    width: 5.25rem;
    height: 5.25rem;
}

.l2 {
    width: 3.6875rem;
    height: 3.6875rem;
}

.l3 {
    width: 2.4375rem;
    height: 2.4375rem;
}