.material-symbols-rounded{
    font-size: 0.9rem;
}

.prefsecs:last-child {
    display: none;
}

.social {
    display: none;
}

.detail {
    flex-direction: column;
}

h1 {
    font-size: 1.5rem;
}

.corner h2,
h2 {
    font-size: 1rem;
}

h3,
h4,
.detail button,
.cContent,
.cContent p {
    font-size: 0.8rem;
}

h5,
#filter {
    font-size: 0.5rem;
}

.ham-btn{
    padding: 3px 7px;
}

#bar li a,
.close {
    font-size: 1rem;
    padding: 6px 9px;
}

.showcase>div:first-child {
    display: none;
}

.cContent p,
.temdetail h4,
.prefsecs ul li a {
    font-size: 0.7rem;
}

.cContent>p:last-child {
    display: block;
}

.templatepad{
    padding: 5px;
}

.containers {
    max-width: 45%;
}

.fsecs:first-child {
    height: 170px;
}

.prefsecs ul {
    line-height: 1.1rem;
}