@import url('https://fonts.googleapis.com/css2?family=Harmattan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Lateef&family=Noto+Nastaliq+Urdu&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    user-select: none;
}

::-webkit-scrollbar {
    background-color: white;
    width: 8px;
    box-shadow: inset 0px 0px 5px black;
}

::-webkit-scrollbar-thumb {
    background-color: #db9423;
    border-radius: 30px;
}

@font-face {
    font-family: 'Jameel';
    src: url('../Fonts/Jameel-Noori-Nastaleeq_1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Jameel Noori';
    src: url('../Fonts/Jameel-Noori-Nastaleeq-Kasheeda_1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* nav tag */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 21px;
}

/* logo */
.navbar-logo {
    width: 12rem;
    /* width: 202px; */
    margin: 12px 5px;
    cursor: pointer;
}

/* list */
.navbar-ul {
    display: flex;
    list-style: none;
}

/* list items */
.navbar-items a {
    display: flex;
    align-items: baseline;
    text-decoration: none;
    padding: 12px 7px;
    font-size: 0.79rem;
    /* font-size: 12px; */
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(29, 29, 35);
    transition: all 0.3s ease;
    cursor: pointer;
}

/* a direct child of .navbar-items */
.navbar-items:hover>a {
    color: #db9423;
}

/* for current active page */
.navbar-ul a.active {
    color: #db9423;
}

/* hoverable menu's arrow */
.navbar-arrow {
    width: 0.4rem;
    margin-left: 5px;
}

/* menu on hover */
.navbar-hoverable-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    list-style: none;
    border: 1px solid #db9423;
    background-color: #ffffff;
    max-width: 16%;
    min-width: 11%;
    visibility: hidden;
    z-index: 3;
    opacity: 0;
    transition: all 0.3s ease;
}

.navbar-hoverable-menu-items a {
    border-bottom: 1px solid #eaeaea;
    line-height: 1.5;
}

.navbar-hoverable-menu-items a:hover {
    color: #db9423;
}

/* to display menu on hover */
.navbar-hoverable-item:hover .navbar-hoverable-menu {
    opacity: 1;
    visibility: visible;
}

.menubtn {
    outline: none;
    border: none;
    background-color: #1d1d23;
    display: none;
    align-items: center;
    cursor: pointer;
    padding: 5px;
    border-radius: 3px;
}

.menubtn img {
    width: 1.7em;
    filter: invert(1);
}

@keyframes rotateForward {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(180deg);
    }
}

@keyframes rotateReverse {
    from {
        transform: rotate(180deg);
    }

    to {
        transform: rotate(0deg);
    }
}

.collapsable-navbar {
    flex-direction: column;
    border-top: 0px solid #eaeaea;
    background-color: #f9f9f9;
    overflow-y: hidden;
}

.collapsable-navbar li a {
    align-items: center;
    padding: 12px 21px;
    border-bottom: 1px solid #eaeaea;
}

.collapsable-navbar-hoverable>a {
    justify-content: space-between;
}

.collapsable-navbar-hoverable-menu {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: inherit;
    overflow-y: hidden;
}

.collapsable-navbar-hoverable-menu li a {
    padding: 12px 25px;
}

/* header to align marquee and img */
.header {
    display: flex;
    flex-direction: column;
}

/* text section after mazar shareef img */
.text-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 50px;
}

/* text of text section */
.text-sec-top {
    font-size: 2.3rem;
    font-family: 'Jameel Noori', sans-serif;
    font-weight: 400;
    color: #000000;
    line-height: 1.8em;
    text-shadow: 0px 0px 3px #ed7600;
    text-align: center;
}

.imgframe::before {
    content: "";
    background: linear-gradient(80deg, #06184f 0%, #ffffff 100%) center center/cover fixed;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.76;
}

.imgframe {
    position: relative;
    overflow-x: hidden;
    background: url('../images/bg.jpg') no-repeat center center/cover fixed;
}

.mianG {
    display: flex;
    justify-content: center;
}

/* .copyerror {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0px;
    left: 50;
    color: #555;
    text-align: center;
    font-family: Tahoma;
    font-size: 0.76rem;
    font-weight: bold;
    width: 14%;
    border: 1px solid #f5aca6;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 34px 2px rgba(242, 191, 191, 1);
    -moz-box-shadow: 0px 0px 34px 2px rgba(242, 191, 191, 1);
    box-shadow: 0px 0px 34px 2px rgba(242, 191, 191, 1);
    transition: opacity 0.5s ease;
    opacity: 1;
}

.copyerror img{
    width: 11%;
} */

.copyerror {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: opacity 0.5s ease;
    opacity: 0;
    background-color: transparent;
    z-index: 1;
    pointer-events: none;
}

.copyerror div {
    background-color: #fff;
    font-weight: bold;
    font-family: Tahoma;
    font-size: 0.7rem;
    text-align: center;
    color: #555;
    border: 1px solid #f5aca6;
    -webkit-box-shadow: 0px 0px 34px 2px rgba(242, 191, 191, 1);
    -moz-box-shadow: 0px 0px 34px 2px rgba(242, 191, 191, 1);
    box-shadow: 0px 0px 34px 2px rgba(242, 191, 191, 1);
    padding: 21px 11px;
    border-radius: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.copyerror div img {
    margin-right: 7px;
}

/* text stylining where adil sbs image is displayed */

.baehtemaam {
    color: #EBEBEB;
    font-family: "jameel", sans-serif;
    font-size: 2.4rem;
    font-weight: 700;
    text-align: center;
    line-height: 130%;
}

.btnsec {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
}

.btnsec-btn {
    border: none;
    outline: none;
    background-color: #d9534f;
    color: #fff;
    padding: 12px 24px;
    border-radius: 3px;
    box-shadow: 0px 0px 32px -3px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    transition: opacity 1.5s linear;
    opacity: 0;
}

.btnsec-btn:hover {
    animation: breathing 1s 0s infinite both linear;
}

@keyframes breathing {
    25% {
        transform: scale(1.1);
    }

    75% {
        transform: scale(0.9)
    }
}

.footer {
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    padding: 25px 25px 30px 25px;
    font-size: 0.6rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

/* ****************Contact**************** */
.map {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.maptxt>div {
    background: url('../images/bg2.png') no-repeat bottom center/cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
    opacity: 0.17;
}

.maptxt {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 11px;
}

.maptxt h2 {
    font-size: 3.4rem;
    font-family: 'Jameel', sans-serif;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    word-spacing: 0.1em;
    color: #1d1d23;
    text-align: center;
}

.map iframe {
    border: none;
    width: 84%;
    height: 600px;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    margin-top: 27px;
    transition: all 1s ease-in;
    opacity: 0;
}

@keyframes fadeDown {
    0% {
        opacity: 0;
        transform: translateY(-70%);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

.formsec {
    display: flex;
    justify-content: center;
    padding: 70px 9px 21px 9px;
    opacity: 0;
    transition: all 1s ease-in;
}

.formsec form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 76%;
    background-color: #fff;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.5);
    padding: 27px;
    margin: 11px;
    border-radius: 3px;
    transition: all 1s ease-in;
}

.formsec form input,
.formsec form textarea {
    background-color: #fafafa;
    border: 1px solid #eaeaea;
    padding: 11px 7px;
    width: 100%;
    max-width: 100%;
    border-radius: 3px;
    margin: 3px 0px;
    transition: all 0.1s linear;
}

.formsec form input::placeholder,
.formsec form textarea::placeholder {
    color: #666;
    font-weight: bold;
}

.formsec form input:focus,
.formsec form textarea:focus {
    outline: none;
    border: 1px solid #db9423;
}

.formsec form label {
    align-self: self-start;
    margin-bottom: 11px;
    font-size: 0.7rem;
    color: #990000;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    opacity: 0;
    transition: all 0.3s ease;
}

.formsec form button {
    align-self: self-start;
    outline: none;
    border: none;
    background-color: #db9423;
    color: #fff;
    padding: 11px 21px;
    margin-left: -7px;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.formsec form button:hover {
    background-color: #1d1d23;
}

.info {
    overflow-x: hidden;
    background: linear-gradient(180deg, rgba(35, 164, 85, 0.38) 0%, #ffffff 100%);
    position: relative;
    padding: 27px 11px;
}

.info h2 {
    z-index: 1;
    position: relative;
}

.info-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-center h2 {
    margin-bottom: 21px;
}

.info-heading {
    font-family: "Jameel", Sans-serif;
    font-size: 3.7rem;
    text-shadow: 2px 0px 2px #ffdc2d;
    color: #1d1d23;
    font-weight: 400;
}

.info-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 6%;
    margin-top: 11px;
}

.info-right h2 {
    font-size: 2.5rem;
    font-family: 'Jameel', sans-serif;
    opacity: 0;
    position: relative;
    z-index: 1;
}

@keyframes fadeRight {
    0% {
        opacity: 0;
        transform: translateX(70%);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

.info-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 6%;
    margin-top: 27px;
}

.info-left h2 {
    font-size: 2.5rem;
    font-family: 'Jameel', sans-serif;
    opacity: 0;
    position: relative;
    z-index: 1;
}

@keyframes fadeLeft {
    0% {
        opacity: 0;
        transform: translateX(-70%);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

.location {
    overflow-x: hidden;
    background-color: #1d1d23;
    /* padding-bottom: 40px; */
}

.location-flex {
    display: flex;
    justify-content: space-evenly;
    padding: 40px 11px;
}

.location-flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.location-flex-container img {
    width: 18rem;
    opacity: 0;
}

.location-container-heading {
    font-size: 3.2rem;
    font-family: 'Jameel', sans-serif;
    font-weight: 400;
    text-shadow: 3px 0px 8px #efdf00;
    color: #ffffff;
    margin-bottom: 11px;
    opacity: 0;
}

.location-container-content {
    font-size: 1.9rem;
    font-family: 'Jameel', sans-serif;
    font-weight: 400;
    color: #ffffff;
    line-height: 1.25;
    opacity: 0;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale3d(.3, .3, .3);
    }

    100% {
        opacity: 1;
    }
}

/* ****************PDF**************** */
.intro-container {
    display: flex;
    justify-content: center;
    padding: 27px 11px;
}

.intro-container iframe {
    border: none;
    width: 80%;
    height: 1020px;
}

/* ****************Gallery**************** */
.gallery {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: relative;
    overflow-x: hidden;
    padding: 11px 5px;
}

.containers {
    width: 29%;
    border: 2px solid #db9423;
    overflow: hidden;
    margin: 0.5% 2px;
    padding: 11px 12px;
    border-radius: 5px;
    position: relative;
}

.containers>div {
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 0px;
}

.containers div img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 3px;
    cursor: pointer;
    border: 2px solid #000;
    box-shadow: 0px 0px 16px #db9423;
}

.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1d1d23e5;
    transition: all 0.3s ease;
    visibility: hidden;
    opacity: 0;
}

.close-btn {
    outline: none;
    border: none;
    padding: 0.7%;
    background-color: transparent;
    position: absolute;
    top: 0px;
    right: 0px;
}

.close-btn img {
    width: 2.5vw;
    filter: invert(1);
    cursor: pointer;
}

.overlay>img {
    max-width: 95vw;
    max-height: 95vh;
    border-radius: 3px;
    display: none;
    pointer-events: none;
}


.containers h2 {
    padding: 11px 0px 3px 0px;
    font-size: 1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 1px solid #db9423;
}

.containers p {
    padding: 7px 0px 0px 0px;
    font-size: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* ****************Anouncement Board**************** */
.anouncement-board {
    margin: 11px 0px;
}

.anouncement-board div {
    position: relative;
    box-shadow: 0px 0px 14px #db9423;
    width: 97%;
    margin: 5rem auto;
    border-radius: 3px;
    padding: 27px 16px;
    box-sizing: border-box;
}

.anouncement-board div h2 {
    font-size: 2rem;
    border-bottom: 1px solid #db9423;
    padding-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.anouncement-board div p {
    font-size: 1rem;
    max-width: 90%;
    margin-top: 11px;
    font-family: Arial, Helvetica, sans-serif;
}

.date {
    font-size: 0.8rem;
    position: absolute;
    right: 1.5%;
    bottom: 1.5%;
    font-weight: bold;
    font-family: 'Harmattan', system-ui;
    color: #666666;
    opacity: 0.45;
}

/* ****************Video Gallery**************** */
.containers div video {
    max-width: 100%;
    max-height: 100%;
    border-radius: 3px;
    cursor: pointer;
    border: 2px solid #000;
    box-shadow: 0px 0px 16px #db9423;
}

.overlay>video {
    max-width: 95vw;
    max-height: 95vh;
    border-radius: 3px;
    display: none;
}