.material-symbols-rounded {
    font-size: 1rem;
}

h1 {
    font-size: 2.1rem;
}

.corner h2,
h2 {
    font-size: 1.5rem;
}

h3,
h4,
.detail button,
.cContent,
.cContent p {
    font-size: 1.1rem;
}

h5 {
    font-size: 0.7rem;
}

.nav>ul>li>a {
    font-size: 0.9rem;
    padding: 20px 7px;
}

#filter,
.corner small {
    font-size: 0.75rem;
}

.prefsecs ul li a,
.sub-menu li a {
    font-size: 0.9rem;
}

.containers {
    max-width: 23%;
}

.temdetail s {
    font-size: 0.8rem;
}

.temdetail h4 {
    font-size: 0.9rem;
}

.social a img {
    width: 1.2rem;
}

.plancer {
    flex-wrap: wrap-reverse;
}

.plancer>div>a>img {
    width: 50vw;
}

.prefsecs p{
    font-size: 0.9rem;
}