#navbar {
    display: none;
}

.menubtn {
    display: flex;
}

.header marquee {
    padding: 4px 0px !important;
}

.header marquee h2 {
    font-size: 1.6rem !important;
}

.navbar-logo {
    width: 5rem !important;
}

.text-sec-top {
    font-size: 1.57rem !important;
}

.text-sec h2:nth-child(4) {
    font-size: 3.7rem !important;
}

.text-sec h2:nth-child(6) {
    font-size: 1.3rem !important;
}

.text-sec h2:nth-child(7) {
    font-size: 1.5rem !important;
}

.text-sec h2:nth-child(8) {
    font-size: 1rem !important;
}

.imgframe-1-topsvg {
    width: calc(276% + 1.3px) !important;
    height: 67px !important;
}

.mianG img {
    width: 70% !important;
    margin: 34px 0px 27px 0px !important;
    box-shadow: -11px 0px 36px 11px rgba(233, 239, 50, 0.5) !important;
}

.imgframe-2-topsvg {
    height: 50px !important;
}

.baehtemaam {
    font-size: 2rem !important;
}

.adil-sb h2:nth-child(8) {
    font-size: 1.24rem !important;
}

.adil-sb h2:nth-child(9) {
    font-size: 1.65rem !important;
    margin: 11px 0px 9px 0px !important;
}

.adil-sb h2:nth-child(10) {
    font-size: 0.9rem !important;
}

img[alt="Adil Sabri Sb"] {
    width: 31% !important;
}

.btnsec-btn {
    font-size: 0.75rem !important;
}

/* ****************Contact**************** */
.maptxt h2 {
    font-size: 2.2rem !important;
}

.map iframe {
    width: 90% !important;
}

.formsec {
    padding: 40px 1px 21px 1px !important;
}

.formsec form {
    width: 80% !important;
}

.formsec form label {
    margin-bottom: 4.7px !important;
    font-size: 0.65rem !important;
}

.formsec form button {
    padding: 9px 14px !important;
    font-size: 0.75rem !important;
}

.info-center h2:first-child {
    font-size: 2rem !important;
}

.info-heading {
    font-size: 2.5rem !important;
    margin-bottom: 14px !important;
}

hr {
    border-width: 3.5px !important;
}

.info-left h2,
.info-right h2 {
    font-size: 1.57rem !important;
}

.location-flex {
    flex-direction: column !important;
}

.location-flex-container:first-child {
    margin-bottom: 40px !important;
}

.location-container-heading {
    font-size: 2.75rem !important;
}

.location-container-content {
    line-height: 1.6 !important;
}

/* ****************PDF**************** */
.intro-container iframe{
    width: 90%;
}