#navbar {
    display: none;
}

.menubtn {
    display: flex;
}

.header marquee {
    padding: 4px 0px !important;
}

.header marquee h2 {
    font-size: 1.6rem !important;
}

.navbar-logo {
    width: 5rem !important;
}

.text-sec-top {
    font-size: 1.57rem !important;
}

.text-sec h2:nth-child(4) {
    font-size: 3.7rem !important;
}

.text-sec h2:nth-child(6) {
    font-size: 1.3rem !important;
}

.text-sec h2:nth-child(7) {
    font-size: 1.5rem !important;
}

.text-sec h2:nth-child(8) {
    font-size: 1rem !important;
}

.imgframe-1-topsvg {
    width: calc(276% + 1.3px) !important;
    height: 67px !important;
}

.mianG img {
    width: 70% !important;
    margin: 34px 0px 27px 0px !important;
    box-shadow: -11px 0px 36px 11px rgba(233, 239, 50, 0.5) !important;
}

.imgframe-2-topsvg {
    height: 50px !important;
}

.baehtemaam {
    font-size: 2rem !important;
}

.adil-sb h2:nth-child(8) {
    font-size: 1.24rem !important;
}

.adil-sb h2:nth-child(9) {
    font-size: 1.65rem !important;
    margin: 11px 0px 9px 0px !important;
}

.adil-sb h2:nth-child(10) {
    font-size: 0.9rem !important;
}

img[alt="Adil Sabri Sb"] {
    width: 31% !important;
}

.btnsec-btn {
    font-size: 0.75rem;
}